.hidden{
  display: none;
}

#num-random-one,
#num-random-two,
#num-random-three,
#num-random-four{
  border: 2px solid aquamarine;
  border-radius: 50px;
  background-color: rgba(128, 128, 128, 0.219);
}

.countdown-size{

  font-size: 8rem;
}